<% layout('layouts/heading') %>
    <form action="/register" method="POST" class="needs-validation offset-md-3 col-md-6" novalidate>
       <label for="username" class="form-label row mb-3">Username</label>
        <input type="text" placeholder="enter username" name="username" class="form-control mb-3" required>
        <label for="email" class="form-label row mb-3">Email</label>
        <input type="text" placeholder="enter email" name="email" class="form-control mb-3" required>
        <label for="password" class="form-label row mb-3">Password</label>
        <input type="password" placeholder="enter password" name="password" class="form-control mb-3" required>
         <button style="border-radius: 18px;">Register</button>
    </form>
